<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'initials.png', :height => '45' %></a>
    </div><!--/.navbar-header -->
    <div class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <li class="<%=is_page_active('/')%>"><%= link_to "home", "/" %></li>
        <li class="<%=is_page_active('/about.html')%>"><%= link_to "about", "about.html" %></li>
        <li class="<%=is_page_active('/projects.html')%>"><%= link_to "projects", "projects.html" %></li>
        <li class="inactive"><span class="tooltips">code<span>coming soon</span></span></li>
        <li class="<%=is_page_active('/publications.html')%>"><%= link_to "publications", "publications.html" %></li>
        <li id="resume">
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01mCTMuuaJVvxC01nwauRIOw==&amp;c=Vn7tjjrpXUH2YbmubZj40Vt5xCpvMTiWwEqB-hRpURU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mCTMuuaJVvxC01nwauRIOw\75\75\46c\75Vn7tjjrpXUH2YbmubZj40Vt5xCpvMTiWwEqB-hRpURU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="use recaptcha to show email">
              <span class="tooltips">cv/resume<span>ask me for a copy</span></span>
            </a>
          </span>
        </li>
        <li id="contact">
          <a href="http://www.google.com/recaptcha/mailhide/d?k=01mCTMuuaJVvxC01nwauRIOw==&amp;c=Vn7tjjrpXUH2YbmubZj40Vt5xCpvMTiWwEqB-hRpURU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mCTMuuaJVvxC01nwauRIOw\75\75\46c\75Vn7tjjrpXUH2YbmubZj40Vt5xCpvMTiWwEqB-hRpURU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="use recaptcha to show email">
            <span class="tooltips">contact<span>email me</span></span>
          </a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div><!--/.container, for navbar -->
</nav>