<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag 'initials.png', :height => '45' %></a>
    </div><!--/.navbar-header -->
    <div class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <li class="<%=is_page_active('/about.html')%>"><%= link_to "about", "about.html" %></li>
        <li class="<%=is_page_active('/projects.html')%>"><%= link_to "projects", "projects.html" %></li>
        <li class="inactive"><span class="tooltips">code<span>coming soon</span></span></li>
        <li class="<%=is_page_active('/publications.html')%>"><%= link_to "publications", "publications.html" %></li>
        <li class="inactive"><span class="tooltips">cv/resume<span>coming soon</span></span></li>
        <li class="<%=is_page_active('publications')%>"><a href="#">contact</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div><!--/.container, for navbar -->
</nav>