---
title: kpt - about
---

<%= partial "hello" %>

<section id="me" class="container">
  <div class="heading-container">
    <h2 class="subheading">about me</h2>
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01mCTMuuaJVvxC01nwauRIOw==&amp;c=Vn7tjjrpXUH2YbmubZj40Vt5xCpvMTiWwEqB-hRpURU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mCTMuuaJVvxC01nwauRIOw\75\75\46c\75Vn7tjjrpXUH2YbmubZj40Vt5xCpvMTiWwEqB-hRpURU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="use recaptcha to show email"><i class="fa fa-envelope"></i></a>
    <a href="http://linkedin.com/kpytang"><i class="fa fa-linkedin-square"></i></a>
    <a href="http://github.com/kpytang"><i class="fa fa-github-square"></i></a>
    <a href="http://scholar.google.com/citations?hl=en&user=dnMoAsUAAAAJ&sortby=pubdate"><i class="fa fa-mortar-board"></i></a>
    <a href="http://facebook.com/kpytang"><i class="fa fa-facebook-square"></i></a>
    <a href="http://plus.google.com/108311878100500368556"><i class="fa fa-google-plus-square"></i></a>
  </div>
  <p><%= data.about %></p>
</section>

<section id="mywork" class="container">
  <h2 class="subheading">my work process</h2>
  <div class="row">
    <div class="col-md-3">
      <img src="<%= lorem.image('150x150') %>">
    </div>
    <div class="col-md-6">
      <p><%= lorem.paragraphs 2 %></p>
    </div>
    <div class="col-md-3">
      <img src="<%= lorem.image('150x300') %>">
    </div>
  </div>
  <div class="row">
    <img src="<%= lorem.image('900x100') %>">
  </div>
</section>