---
title: kpt - ux researcher
---

<%= partial "hello" %>

<div id="overview" class="container">
  <div class="row">
    <div class="col-md-8">
      <section id="selected-projects">
        <div>
          <h2 class="subheading">selected projects</h2>
          <%= link_to "view all >>", "projects.html" %>
        </div>
        <% data.selectedprojects.each do |project| %>
          <%= image_tag project["image_url"] %>
        <% end %>
      </section>
      <section id="selected-publications">
        <div>
          <h2 class="subheading">selected publications</h2>
          <%= link_to "view all >>", "publications.html" %>
        </div>
        <% data.selectedpapers.each do |paper| %>
        <article>
            <div class="title">
              <a href="/publications.html#<%= paper["index"]%>"><%= paper["title"] %></a>
            </div>
            <div class="author">
              <%= paper["authors"] %>. <em><%= paper["conference"] %></em>.
            </div>
        </article>
        <% end %>
      </section>
    </div>
    <section id="feed" class="col-md-4">
      <h2 class="subheading">news & events</h2>
       <% data.newsfeed.each do |news| %>
        <article class="row no-gutter">
          <div class="date col-md-3">
            <%= news["date"] %>
          </div>
          <div class="news col-md-8">
            <%= news["content"] %>
          </div>
          <div class="location col-md-offset-3 col-md-8">
            <%= news["location"] %>
          </div>
        </article>
        <% end %>
      </section>
  </div>
</div>

