---
title: kpt - ux researcher
---

<%= partial "hello" %>

<div id="home" class="container">
  <div class="row">
    <div class="col-md-8">
      <section id="projects">
        <div>
          <h2 class="subheading">selected projects</h2>
          <%= link_to "view all >>", "projects.html" %>
        </div>
        <img class="social-media-icon" src="<%= lorem.image('100x100') %>">
        <img class="social-media-icon" src="<%= lorem.image('100x100') %>">
        <img class="social-media-icon" src="<%= lorem.image('100x100') %>">
        <img class="social-media-icon" src="<%= lorem.image('100x100') %>">
      </section>
      <section id="publications">
        <div>
          <h2 class="subheading">selected publications</h2>
          <%= link_to "view all >>", "publications.html" %>
        </div>
        <article>
          <div class="title">
            <a href=""><%= lorem.words 7 %></a>
            <span class="tooltips">acm</span>
          </div>
          <div class="author">
            <b>Karen Tang</b>, Jason Hong, and Dan Siewiorek. <em>Ubicomp 2011</em>, pp405-414.
          </div>
        </article>
        <article>
          <div class="title">
            <a href=""><%= lorem.words 7 %></a>
            <span class="tooltips">acm</span>
          </div>
          <div class="author">
            <b>Karen Tang</b>, Jason Hong, and Dan Siewiorek. <em>Ubicomp 2011</em>, pp405-414.
          </div>
        </article>
        <article>
          <div class="title">
            <a href=""><%= lorem.words 7 %></a>
            <span class="tooltips">acm</span>
          </div>
          <div class="author">
            <b>Karen Tang</b>, Jason Hong, and Dan Siewiorek. <em>Ubicomp 2011</em>, pp405-414.
          </div>
        </article>
        <article>
          <div class="title">
            <a href=""><%= lorem.words 7 %></a>
            <span class="tooltips">acm</span>
          </div>
          <div class="author">
            <b>Karen Tang</b>, Jason Hong, and Dan Siewiorek. <em>Ubicomp 2011</em>, pp405-414.
          </div>
        </article>
        <article>
          <div class="title">
            <a href=""><%= lorem.words 7 %></a>
            <span class="tooltips">acm</span>
          </div>
          <div class="author">
            <b>Karen Tang</b>, Jason Hong, and Dan Siewiorek. <em>Ubicomp 2011</em>, pp405-414.
          </div>
        </article>
        <article>
          <div class="title">
            <a href=""><%= lorem.words 7 %></a>
            <span class="tooltips">acm</span>
          </div>
          <div class="author">
            <b>Karen Tang</b>, Jason Hong, and Dan Siewiorek. <em>Ubicomp 2011</em>, pp405-414.
          </div>
        </article>
      </section>
    </div>
    <section id="feed" class="col-md-4">
      <h2 class="subheading">news & events</h2>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
      <article class="row no-gutter">
        <div class="date col-md-4">
          Mar 28, 2013
        </div>
        <div class="news col-md-8">
          Pitched to Drive Capital
        </div>
      </article>
    </section>
  </div>
</div>

