---
title: kpt - projects
---

<%= javascript_include_tag  "vendor/isotope.pkgd.min" %>
<%= javascript_include_tag  "vendor/imagesloaded.pkgd.min" %>

<div id="projects" class="container">
  <h1 class="title">selected projects</h1>

  <div class="row">
    <section id="filters" class="col-md-12">
      <button class="btn btn-default btn-sm" data-filter="*">show all</button>
      <button class="btn btn-default btn-sm" data-filter=".social">social computing</button>
      <button class="btn btn-default btn-sm" data-filter=".health">health informatics</button>
      <button class="btn btn-default btn-sm" data-filter=".privacy">usable privacy</button>
      <button class="btn btn-default btn-sm" data-filter=".mobile">mobile/wearable computing</button>
      <button class="btn btn-default btn-sm" data-filter=".information">information management</button>
    </section> <!-- /filters -->
  </div>
  
  <div class="row">
    <section id="tiles" class="col-md-12">
      <ul id="tile-grid" class="isotope">
        <% data.projects.each do |project| %>
        <li class="tile <%= project["isotope_tags"] %>">
          <div class="project-snapshot">
            <div class="image-wrapper">
              <%= image_tag project["image_url"] %>
              <div class="mask"></div>
            </div>
            <div class="project-info">
              <span class="project-name"><%= project["name"] %></span>
              <p class="project-description"><%= project["description"] %></p>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </section> <!-- /tiles -->

  </div> <!-- /row -->
</div> <!-- /projects container -->

<script>
$(document).ready(function(){
    var $container = $('#tile-grid');
    // setting up isotope options
    $container.isotope({
        itemSelector: '.tile',
        layoutMode: 'fitRows'
    });
    // run isotope after images are loaded
    $container.imagesLoaded( function() {
      $container.isotope('layout');
    });
    // add button behaviors
    $('#filters button').click(function(){
    var selector = $(this).attr('data-filter');
      $container.isotope({ 
          filter: selector,
          animationOptions: {
              duration: 750,
              easing: 'linear',
              queue: false, 
          }
      });
    return false;
  });

});
</script>
