---
title: kpt - publications
---

<div id="publications" class="container">

    <h2>publications</h2>
    <span class="subheading">(peer-reviewed)</span>

    <section id="papers">
        <div class="legend row">
            <div class="col-md-12">
                <span class="legend-label">c = conference paper (peer-reviewed)</span>
                <span class="legend-label">j = journal article (peer-reviewed)</span>
                <span class="legend-label">w = workshop paper (lightly peer-reviewed)</span>
            </div>
        </div>

        <% data.papers.each do |paper| %>
        <article class="row no-gutter anchor" id="<%= paper["index"] %>">
            <div class="col-md-1 index">[<%= paper["index"] %>]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="<% if paper["extra_image_styles"] %><%= paper["extra_image_styles"] %><% end %>">
                  <%= image_tag paper["image_url"] %>
                </div>
                <div class="citation">
                    <% if paper["award"] %><span class="stats" style="padding-left:0;">[<%= paper["award"] %>]</span><% end %>
                    <%= paper["citation"] %>
                    <% if paper["stats"] %><span class="stats">[<%= paper["stats"] %>]</span><% end %>
                </div>
                <div class="links">
                    <% if paper["springer_url"] %><%= link_to 'springer', paper["springer_url"] %> <% end %>
                    <% if paper["ieee_url"] %><%= link_to 'ieee', paper["ieee_url"] %> <% end %>
                    <% if paper["acm_url"] %><%= link_to 'acm', paper["acm_url"] %> <% end %>
                    <% if paper["authorizer_url"] %><%= link_to 'acm pdf', paper["authorizer_url"] %> <% end %>
                    <% if paper["journal"] %><%= link_to paper["journal"]["name"], paper["journal"]["url"] %> <% end %>
                    <% if paper["local_url"] %><%= link_to 'local pdf', paper["local_url"] %> <% end %>
                </div>
            </div>
        </article>
        <% end %>

    </section> <!-- /publications -->



    <h2>theses</h2>

    <section id="theses">

        <% data.theses.each do |thesis| %>
        <article class="row no-gutter">
            <div class="col-md-1 index">[<%= thesis["index"] %>]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail">
                  <% if thesis["image_url"] %><%= image_tag thesis["image_url"] %>
                  <% else %><%= image_tag 'papers/blank-landscape.png' %>
                  <% end %>
                </div>
                <div class="citation">
                    <%= thesis["citation"] %>
                </div>
                <div class="links">
                    <% if thesis["official"] %><%= link_to thesis["official"]["name"], thesis["official"]["url"] %> <% end %>
                    <% if thesis["local_url"] %><%= link_to 'local pdf', thesis["local_url"] %>
                    <% else %> <span class="na">not available</span>
                    <% end %>
                </div>
            </div>
        </article>
        <% end %>

    </section> <!-- /theses -->



    <h2>technical reports</h2>

    <section id="reports">

        <% data.reports.each do |report| %>
        <article class="row no-gutter">
            <div class="col-md-1 index">[<%= report["index"] %>]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail">
                  <%= image_tag report["image_url"] %>
                </div>
                <div class="citation">
                    <%= report["citation"] %>
                </div>
                <div class="links">
                    <% if report["official"] %><%= link_to report["official"]["name"], report["official"]["url"] %> <% end %>
                    <% if report["local_url"] %><%= link_to 'local pdf', report["local_url"] %> <% end %>
                </div>
            </div>
        </article>
        <% end %>

    </section> <!-- /technical reports -->

</div>
